body{
    background-color: lightblue;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

#paragraph2{
    
    border: 4px;
    border-style: solid;
    border-color: green;

    padding: 4vh;
    margin: 4vh;

    background-color: white ;

    text-align: left;
    line-height: 4vh;

    width: 60%;
}

.blue{
    background-color: darkblue;
    color: white;

    padding: 16px;
}

.red_link
{
    color : red
}



ol li {
    list-style: none;
    counter-increment: item;
}

ol li::before {
    content: counter(item, decimal-leading-zero) ". ";
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
    background-color: white;
}
th
{
    background-color: lightgray;
}

th,td
{
    padding: 1vh;
}